.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

html, body {
  overscroll-behavior-y: none;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #f5e2c8;
}

h2,
h3 {
  font-family: "Kalam", cursive;
  color: #41392e;
}

h2 {
  font-size: 36px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container a:not(.button) {
  color: #41392e;
  display: inline;
  position: relative;
  text-decoration: none;
  z-index: 2;
  &:hover {
    border-bottom-color: transparent;
    color: #41392e;
    &:before {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:%2341392e; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
        0px 50% / 80px 80px repeat-x;
      animation: waving 3s linear infinite;
      @keyframes waving {
        to {
          background-position: 80px 50%, 160px 50%;
        }
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: -20px;
    z-index: -1;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B stroke:%2341392e; stroke-width:2; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
      0px 50% / 80px 80px repeat-x;
  }
}

.info-container {
  margin-bottom: 20px;
  .content {
    font-size: 24px;
  }
  .label {
    margin-top: 5px;
    opacity: 0.8;
  }
}

ul {
  margin-top: 5px;
}

.float-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.albumify {
  border-radius: 2px;
  border: 4px solid #fff;
  transform: rotateZ(-1deg);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

  &.-v2 {
    transform: rotateZ(0deg);
  }

  &.-video {
    width: 490px;
    max-width: 100%;
  }
}

.text-center {
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

.container {
  margin: 20px auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1000px;
  clear: both;

  &.max-width {
    margin: 0;
    max-width: none;
    padding: 0;
  }
}

.small-down {
  margin-bottom: 20px;
}

.tiny-up {
  margin-top: 10px;
}

.small-up {
  margin-top: 20px;
}

.medium-up {
  margin-top: 40px;
}

.large-up {
  margin-top: 80px;
}

.main-image-wrapper {
  width: 100%;
  height: 450px;
  max-height: 90vh;
  overflow: hidden;
  position: relative;

  h1 {
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
    font-size: 56px;
    line-height: 36px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);

    .main {
      line-height: 58px;
    }

    small {
      font-size: 30.5px;
    }
  }
}

.main-image-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  svg {
    width: 100%;
    height: 10px;
    transform: rotate(180deg);
    display: block;

    @media screen and (min-width: 1000px) {
      height: 20px;
    }

    .shape-fill {
      fill: #f5e2c8;
    }
  }
}

.main-image {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 450px;

  &.-center {
    object-position: center;
  }

  @media screen and (max-width: 600px) {
    height: 400px;
  }
}

.two-part {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;

  & > * {
    flex: 1;
  }
}

footer {
  background: #d8c7b1;
  margin-top: 40px;

  .container {
    margin: 0 auto;
    padding: 20px;
  }
}

.igui_view_start .igui_icon_play {
  font-size: 120px !important;
}

@media screen and (max-width: 999px) {
  .two-part {
    padding: 0 20px;

    .part {
      width: 100%;
      margin: 0;
      flex: none;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }

  .container {
    &.large-up {
      margin-top: 20px;
    }

    img.albumify {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .main-image-wrapper {
    height: 30vh;
    min-height: 250px;

    h1 {
      top: 40px;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0;
      font-size: 36px;
      line-height: 36px;

      br {
        display: none;
      }

      small {
        display: block;
        font-size: 24px;
      }
    }
  }
}
